.about-brand {
  @include page-grid;

  padding-bottom: 100px;

  &-content {
    grid-column: 1/-1;

    &-title {
      @include poppin-600;

      font-size: 24px;

      @include spacing-upper;

      color: $green-34;
    }

    &-desc {
      @include poppin-400;

      padding-block: 10px 30px;
      font-size: 14px;
      color: $dark-3;
    }

    &-link {
      @include link14-green;
      @include underline-border;
    }
  }
}
