.business {
  @include page-grid;

  gap: 50px;

  &-content {
    display: grid;
    grid-column: span 2;
    gap: 20px;
    place-items: center;

    &-img {
      &-1 {
        background-image: url(../images/business/business_icon-1.png);
      }

      &-2 {
        background-image: url(../images/business/business_icon-2.png);
      }

      &-3 {
        background-image: url(../images/business/business_icon-3.png);
      }

      &-desc {
        @include poppin-400;

        font-size: 14px;
        line-height: 130%;
        color: $black0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5%;
      }
    }
  }
}
