// cores
$dark-3: #333;
$green-back: #e4dfd3;
$green-34: #344f10;
$link-w: #828282;
$black0: #000;
$input-color: #bdbdbd;
$background-footer: #8c9772;
$footer-color: #e4dfd3;


// largura da tela
$mobile-width: 767px;
$tablet-width: 768px;
$small-desktop-width: 1280px;
