.page {
  scroll-behavior: smooth;
  background-color: $green-back;

  &:has([id="menu"]:target) {
    overflow: hidden;
  }

  &:has([id="menu-shop"]:target) {
    overflow: hidden;
  }

  /* Isso diz ao navegador: "Se houver 
   elemento alvo (:target) ativo na página, remova
   a barra de rolagem da body (.page)". Assim, apenas
    a barra de rolagem do modal funcionará. */
}

.icon {
  display: block;
  width: 24px;
  height: 24px;

}

.link {
  text-decoration: none;
}

.icon-business {
  display: block;

  width: 100px;
  height: 84px;

  background-position: center;
  background-size: cover;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.social-icon {
  display: block;

  width: 20px;
  height: 20px;

  background-size: cover;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.tablet-show {
  @include on-mobile {
    display: none;
  }

}

.desktop-show {
  @include on-tabblet-hide {
    display: none;
  }
}




.green-text {
  color: $green-34;
}